@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.description {
  line-height: 1.5; /* Adjust the line height to your preference */
  margin-bottom: 1em; /* Add spacing between paragraphs */
}

.description > p {
  margin-bottom: 1em; /* Add spacing between paragraphs */
}

.description > p:last-child {
  margin-bottom: 0; /* Remove bottom margin for the last paragraph */
}

.app-icon-container {
  width: 80px;
  height: 80px;
}
